<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.hikari.dataSourceClassName">org.postgresql.ds.PGSimpleDataSource</property>
        <property name="hibernate.hikari.dataSource.url">jdbc:postgresql://localhost:5432/rangercompany</property>
        <property name="hibernate.hikari.dataSource.user">postgres</property>
        <property name="hibernate.hikari.dataSource.password">MaRkO24146460;</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="xyz.relentlesscrew.persistence.model.Application" />
        <mapping class="xyz.relentlesscrew.persistence.model.Member" />
        <mapping class="xyz.relentlesscrew.persistence.model.Rank" />
    </session-factory>

</hibernate-configuration>