{{#partial "title"}}Member List{{/partial}}

{{#partial "navbaritems"}}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/">Home</a>
    </li>
{{/partial}}

{{#partial "headertitle"}}Relentless Crew Member List{{/partial}}

{{#partial "content"}}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Dauntless Username</th>
                            <th scope="col">Rank</th>
                        </tr>
                    </thead>
                    <tbody id="memberlist">
                    </tbody>
                </table>

                <div id="pagination" class="d-flex justify-content-center"></div>
            </div>
        </div>
    </div>
</section>
{{/partial}}
{{#partial "scripts"}}<script src="/js/relentlesscrew.membertable.js"></script>{{/partial}}

{{> template.hbs}}